version: "3"
services:
  appserver:
    container_name: server
    image: yonatanovadia/project-barbershop:project-barbershop-001
    ports:
      - 8081:8081
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - ./postgresdata:/var/lib/postgresql/
    privileged: tru